body{
    background-color:#616161;
}
.container{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    width: 90vw;
    height: 96vh;
    background-color:#263238;
}

.items-title, .items-title h2{
    text-align: center;
    font-size: 35px;
    margin: 5px 0;
}

.input-containers{
    text-align: center;
    height: 35px;
    margin: 15px 0;
}

.select-inputs{
    height: 100%;
    border-radius: 5px;
    padding: 5px 15px;
    width: 325px;
    text-align-last:center;
    font-size: 15px;
    font-weight: 600;
}
.measurements{
    width: 60px;
    font-size: 10px;
    padding: 0;
    margin: 0;
    height: 35px;
    border-style: none;
    border-color: transparent;
    background-color: transparent;
    cursor: pointer;
    color: white;
}
.measurements option{
    color: black;
}
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}
.x-inputs{
    height: 100%;
    text-align: center;
    padding: 5px 5px;
    width: 76px;
    border-radius: 5px;
    margin: 0 0 0 5px;
    font-weight: 600;
    -webkit-transition: width .5s; 
    transition: width .5s;
    transition-timing-function: ease-out;
}

.input-containers input[type="number"]:focus {
    background-color: #76FF03;
}

.input-label span{
    pointer-events: none;
    font-size: 18px;
    font-weight: 600;
    
}
.input-label{
    width: 110px;
    background-color: white;
    margin: 0 auto;
    border-radius: 5px;
    display: inline-block;
}
.x-inputs#price{
    border-style: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type="number"]#price:focus {
    border-style: none;
}
.x-containers input, .x-containers select{
    float: left;
}
#peso{
    height: 35px;
    cursor: pointer;
    background-color: transparent;
    border-style: none;
    font-size: 22px;
    color: white;
}
#peso-agregado{
    height: 35px;
    width: 64px;
    float: right;
    border-style: none;
    margin: 0;
    padding: 0;
}
.final-peso.agregado{
    background-color: white;
    border-radius: 5px;
    width: 100px;
}
.final-peso span{
    color: white;
    font-weight: 600;
    cursor: default;
}
.final-peso.agregado span{
    color: black;
    margin-left: 1px;
}
.x-containers{
    width: 325px;
    margin: 0 auto;
    height: 150px;
}
.final-peso{
    float: right;
    color: white;
    display:table;
}
.final-peso span{
    display:table-cell;
 vertical-align:middle;
}
.xn{
    width: 200px;
}
#price{
    text-align: left;   
}
#price-weight-containers .input-label{
    width: 185px;
}
#price-weight-containers span{
    font-size: 15px;
}
#money-symbol{
    font-size: 20px;
}
#label-peso{
    float: right;
    vertical-align: bottom;
    color: white;
}
.final-peso-total{
    background-color: transparent;
    color: white;
    font-size: 30px;
    display: table;
    margin: 0 auto;
}
.final-peso-total input{
    background-color: transparent;
    height: 40px;
    font-size: 30px;
    color: white;
    border-style: none;
    width: 100px;
    margin: 0;
    padding: 0;
    text-align: left;
}
.final-peso-total span{
    display: table-cell;
    vertical-align: middle;
    margin: 0;
    padding: 0;
}

/*
input[type="text"]:focus, input[type="number"]:focus{ 
    width: 200px;
    height: 100px;
    border-radius: 10px;
    padding: 2px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 25px;
    position: fixed;
}
.input-label input[type="number"]:focus{
    position: fixed;
    width: 200px !important;
    height: 75px ;
    border-style: none;
    margin: 0;
}
.input-label input[type="number"]:focus ~
.input-label :focus-within {
    background-color: transparent;
}

.input-label{
    background-color: white;
    display: inline-block;
    padding-left: 5px;
    width: 76px ;
    border-radius: 5px;
}
.input-label #price{
    border-style: none;
    margin: 0;
    width: 65px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


*/